<table class="table table-sm">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <tr *ngFor="let tarjeta of tarjetaService.list">
        <td>
            {{tarjeta.nombre}}
        </td>
        <td>
            {{tarjeta.numeroTarjeta}}
        </td>
        <td>
            {{tarjeta.tipoTarjeta}}
        </td>
        <td>
            {{tarjeta.fecha}}
        </td>
        <td>
            {{tarjeta.montoDisponible}}
        </td>
        <td>
            {{tarjeta.cvv}}
        </td>
        <td>
            <i class="far fa-edit fa-lg text-info"  (click)="editar(tarjeta)" style="cursor: pointer;"></i>
            
        </td>
        
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarTarjeta(tarjeta)" style="cursor: pointer;"></i>
        </td>
       
    </tr>

</table>