<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />


  </head>
  <body class="text-center">

    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal">Pagp de Préstamos</h1>


        <a>Datos personales</a>
        <label for="inputName" class="visually-hidden">Nombre</label>
        <input id="inputName" class="form-control" placeholder="Nombre" required #nombreInput>

        <label for="inputLastName" class="visually-hidden">Primer apellido</label>
        <input id="inputLastName" class="form-control" placeholder="Primer apellido" required #apellidounoInput>

        <label for="inputSLastName" class="visually-hidden">Segundo apellido</label>
        <input id="inputSLastName" class="form-control" placeholder="Segundo apellido" required #apellido2Input>

        <label for="inputName" class="visually-hidden">Monto</label>
        <input id="inputName" class="form-control" placeholder="Monto a pagar" required #Pago_prestamoInput>

        <label for="inputName" class="visually-hidden">Tipo_pago</label>
        <input id="inputName" class="form-control" placeholder="Tipo pago(ordinario o extraordinario)" required #typepagoInput>


        <label for="inputContinet" class="visually-hidden">Numero_Prestamo</label>
        <input id="inputContinet" class="form-control" placeholder="Número de préstamo" required #numeroprestamoInput>

        <a>Información de cuenta</a>

        <label for="inputEmail" class="visually-hidden">Cedula</label>
        <input id="inputEmail" class="form-control" placeholder="Cédula" required autofocus #CédulaInput>

        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required #passwordInput>
        <!--Upload data to loging with this button -->
        <button class="w-100 btn btn-lg btn-warn" type="submit" href="welcome!">Pagar</button>
      </form>
    </main>

  </body>
</html>