
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Pricing example for Bootstrap</title>

  
  </head>

  <body>
    <div class="form-group" style=""><label>Escoge una cuenta </label><select class="form-control"><option value="value1">Cuenta Principal: 555-555-555</option><option value="value2">Cuenta Ahorro: 556-556-556</option><option value="value3">Cuenta Pagos internet: 557-557-557</option></select></div>
    

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Tarjetas Asiociadas</h1>
      
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Débito</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">BN</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Número Tarjeta: 5558-5558</li>
              <li>Estilo: Runner</li>
              <li>Saldo disponible: 1 000 200 Colones</li>
              <li>Pin: 1234</li>
            </ul>
            
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Débito</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Wink</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Número: 5484-45-455</li>
              <li>Estilo: Champions Ligue</li>
              <li>Saldo disponible: 80 000 Colones</li>
              <li>Pin: 4646</li>
            </ul>
            
          </div>
        </div>
        
      </div>

      
    </div>
<!-- /movimientos -->
<div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
      </nav>
      <h3 class="display-4">Movimientos</h3>
    </div>

    

    <div class="row marketing">
      <div class="col-lg-6"><div class="container" style=""></div>
        <h4>Depósitos</h4>
        

        <h4>15/06/2021</h4>
        <p>Procedencia: Dos pinos</p><div>Código: 333333333</div><div>Monto: 800 500 Colones</div><div>Descripción: Salario mensual</div><p></p>

        <h4></h4>
        
      <div class="col-lg-6"><div class="container" style=""></div>
        
        

        
        

        <h4></h4>
        
      </div></div><div class="col-lg-6"><div class="container" style=""></div>
        <h4>Retíros</h4>
        

        <h4>01/06/2021</h4>
        <p>Medio: Envío SimpeMobil</p><div>Código: 2001-2201<div>Para: Samuel Jo</div></div><div>Monto: 200 000 Colones</div><div>Descripción: Arrendamiento</div><p></p>

        <h4></h4>
        
      <div class="col-lg-6"><div class="container" style=""></div>
        
        

        
        

        <h4></h4>
        
      </div></div><div class="col-lg-6"><div class="container" style=""></div>
        
        

        <h4>01/06/2021</h4>
        <p>Procedencia: Dos Pinos&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><div><span style="font-size: 1rem;">Código: 333333333&nbsp;</span><div>Monto: 55 000 Colones</div><div>Descripción: Incentivo por meta cumplida</div></div><p></p>

        <h4></h4>
        
      <div class="col-lg-6"><div class="container" style=""></div>
        
        

        
        

        <h4></h4>
        
      </div></div><div class="col-lg-6"><div class="container" style=""></div>
        
        

        <h4>27/05/2021</h4>
        <p>Medio: Datafono&nbsp;</p><div><div>Código: 10-1001-888<div>Para: Lagar</div></div><div>Monto: 3 500 Colones</div><div>Descripción: Madera de piso</div></div><p></p>

        <h4></h4>
        
      <div class="col-lg-6"><div class="container" style=""></div>
        
        

        
        

        <h4></h4>
        
      </div></div><div class="col-lg-6"><div class="container" style=""></div>
        
        

        <h4>16/05/2021</h4>
        <p>Procedencia: Dos pinos</p><div>Código: 333333333</div><div>Monto: 800 500 Colones</div><div>Descripción: Salario mensiual</div><p></p>

        <h4></h4>
        
      <div class="col-lg-6"><div class="container" style=""></div>
        
        <h4></h4>
        
      </div></div><div class="col-lg-6"><div class="container" style=""></div>
        
        

        <h4>20/05/2021</h4>
        <p>Medio: Envío electrónico</p><div>Código: 8989-8989-7</div><div>Para: Harley Davison</div><div>Monto: 100 500 Colones</div><div>Descripción: Abono mensual</div><p></p>

        <h4></h4>
        
      <div class="col-lg-6"><div class="container" style=""></div>
        <h4></h4>
      </div></div>
    </div>
  </div> <!-- /container -->
</body>