<div class="jumbtrom">
    <h1 class="display-4 text-center">Gestion de Cuentas</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Cuenta
            </h6>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Numero de Cuenta">
                    </div>
                </div>

                <h6> </h6>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Descripcion de Cuenta">
                    </div>
                </div>

                <h6> </h6>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cliente">
                    </div>
                </div>

                <h6> </h6>
                <div class="row">
                    <div class="form-group col-md-7">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tipo de Cuenta">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <div class="form-grop">
                            <app-moneda></app-moneda>
                        </div>
                    </div>
                </div>
                <h6> </h6>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Monto Disponible">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-sucess btn-lg btn-block" type="submit">Aceptar</button>
                </div>
               
            </form>
        </div>

        <div class="col-md-7">
            <h6 class="text-center">
                Cuentas
            </h6>
            
        </div>
    </div>
</div>