<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    

  </head>
  <body class="text-center">

    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal">Pago de Tarjeta de Crédito</h1>


        <a>Datos personales</a>
        <label for="inputName" class="visually-hidden">Nombre</label>
        <input id="inputName" class="form-control" placeholder="Nombre" required #nombreInput>

        <label for="inputLastName" class="visually-hidden">Primer apellido</label>
        <input id="inputLastName" class="form-control" placeholder="Primer apellido" required #apellidounoInput>

        <label for="inputSLastName" class="visually-hidden">Segundo apellido</label>
        <input id="inputSLastName" class="form-control" placeholder="Segundo apellido" required #apellido2Input>

        <a>Numeros de Telefono</a>

        <label for="inputContinet" class="visually-hidden">Numero_Cuenta</label>
        <input id="inputContinet" class="form-control" placeholder="Número de cuenta" required #numerocuantaInput>

        <label for="inputCountry" class="visually-hidden">Numero_Tarjeta</label>
        <input id="inputCountry" class="form-control" placeholder="Numero Tarjeta" required #Numero_TarjetaInput>

        <a>Información de cuenta</a>

        <label for="inputEmail" class="visually-hidden">Monto</label>
        <input id="inputEmail" class="form-control" placeholder="Monto a depositar" required autofocus #Monto_a_depositarInput>

        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required #passwordInput>
        <!--Upload data to loging with this button -->
        <button class="w-100 btn btn-lg btn-warn" type="submit" href="welcome!">Pagar</button>
      </form>

    <!--aquí va lista de compras-->
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        

        <title>Narrow Jumbotron Template for Bootstrap</title>
    
      </head>
    
      <body>
    
        <div class="container">
          
    
          <div class="jumbotron">
            <h1 class="display-3">Lista de compras</h1>
            
            <a>Fecha de inicio</a>
            <label for="inputContinet" class="visually-hidden">Fecha_inicio</label>
            <input id="inputContinet" class="form-control" placeholder="Fecha de inicio de búsqueda" required #stardateInput>
            <a>Fecha final</a>
            <label for="inputCountry" class="visually-hidden">Fecha_final</label>
            <input id="inputCountry" class="form-control" placeholder="Fecha de fnalización de búsqueda" required #finaldateInput>
    
            <!--Upload data to loging with this button -->
            <button class="w-100 btn btn-lg btn-warn" type="submit" href="welcome!">Buscar</button>
          <ul class="list-group" style="">
      <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>15-09-2021 El huevo duro : Faról</b></span></li>
      <li class="list-group-item"><span style="font-weight: bolder; font-size: 12px; white-space: nowrap;">10-09-2021 Puma : Hoops Basketball</span></li>
      <li class="list-group-item"><span style="font-weight: bolder; font-size: 12px; white-space: nowrap;">29-08-2021 Fishel : Mascarillas</span></li><li class="list-group-item"><span style="font-weight: bolder; font-size: 12px; white-space: nowrap;">15-08-2021 Fogo Brasil : Corte británico</span></li><li class="list-group-item" contenteditable="true" spellcheckker="false"><span spellcheckker="false" style="font-weight: bolder; font-size: 12px; white-space: nowrap;">06-07-2021 NovaCinema : Space Jam</span></li><li class="list-group-item"><span style="font-weight: bolder; font-size: 12px; white-space: nowrap;">25-06-2021 Walmart : DC Comics</span></li><li class="list-group-item"><span style="font-weight: bolder; font-size: 12px; white-space: nowrap;">20-06-2021 Amazon : Camisa AC Milan</span></li>
    </ul></div>
    
          
    
          
    
        </div> <!-- /container -->
      
    
    </body>
    </main>

    
  </body>
</html>