
<!DOCTYPE html> <!--indica que es html5-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>
<body class="text-center">

  <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      <label for="inputEmail" class="visually-hidden">Id</label>
      <input id="inputEmail" class="form-control" placeholder="ID" required autofocus #usernameInput>
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required #passwordInput>
      <!--Upload data to loging with this button -->
      <button class="btn btn-sucess btn-lg btn-block" type="submit"><i class="fas fa-database"></i> Ingresar</button>
    </form>
  </main>

</body>
</html>