<div class="jumbtrom">
    <h1 class="display-4 text-center">Gestion de Roles</h1>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Rol
            </h6>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                </div>

                <h6> </h6>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Descripcion">
                    </div>
                </div>
                <h6> </h6>
                <div class="form-group">
                    <button class="btn btn-sucess btn-lg btn-block" type="submit"><i class="fas fa-database"></i> Aceptar</button>
                </div>

            </form>
        </div>

        <div class="col-md-7">
            <h6 class="text-center">
                Roles
            </h6>

        </div>
    </div>
</div>