<div class="jumbtrom">
    <h1 class="display-4 text-center">Gestion de Tarjetas</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Tarjeta
            </h6>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                </div>

                <h6> </h6>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Numero de Tarjeta">
                    </div>
                </div>

                <h6> </h6>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tipo de Tarjeta">
                    </div>
                </div>

                <h6> </h6>
                <div class="row">
                    <div class="form-group col-md-7">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="DD/MM">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <div class="form-grop">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="DD/MM">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-sucess btn-lg btn-block" type="submit">Aceptar</button>
                </div>
            </form>
        </div>

        <div class="col-md-7">
            <h6 class="text-center">
                Cuentas
            </h6>
            <app-accounts></app-accounts>
        </div>
    </div>
</div>