<table class="table table-sm">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <tr *ngFor="let cuenta of cuenta.data">
        <td>
            {{cuenta.numeroCuenta}}
        </td>
        <td>
            {{cuenta.descripcionCuenta}}
        </td>
        <td>
            {{cuenta.cliente}}
        </td>
        <td>
            {{cuenta.tipoCuenta}}
        </td>
        <td>
            {{cuenta.montoDisponible}}
        </td>
        <td>
            {{cuenta.moneda}}
        </td>
        <td>
            <i class="far fa-edit fa-lg text-info" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarCuenta(cuenta)" style="cursor: pointer;"></i>
        </td>

    </tr>

</table>